Repository gardener/test-infra, pull requests merged in 2019-09, with the labels that each got.

#138 Refactor testrunner to use new logger
  cmd/local-validator/main.go
  cmd/logging/main.go
  cmd/testmachinery-controller/main.go
  cmd/testrunner/cmd/cmd.go
  cmd/testrunner/cmd/collect/collect.go
  cmd/testrunner/cmd/docs/docs.go
  cmd/testrunner/cmd/rungardenertemplate/run_template.go
  cmd/testrunner/cmd/runtemplate/run_template.go
  cmd/testrunner/cmd/runtestrun/run_testrun.go
  cmd/testrunner/cmd/version/version.go
  go.mod
  pkg/controller/admission/server/server.go
  pkg/controller/logger/logger.go
  pkg/testmachinery/testmachinery.go
  pkg/testrunner/result/collect.go
  pkg/testrunner/result/ingest.go
  pkg/testrunner/result/output.go
  pkg/testrunner/run.go
  pkg/testrunner/template/gardener.go
  pkg/testrunner/template/render.go
  pkg/testrunner/template/shoot.go
  pkg/testrunner/testrunner.go
  test/framework/framework.go
  test/testrunner/output/testrunner_output_execution_test.go
  test/testrunner/run/testrunner_run_test.go
Labels: needs/ok-to-test, test/integration

#140 Add logger for cli
  charts/testmachinery/templates/deployment-tm-controller.yaml
  cmd/hostscheduler/main.go
  cmd/local-validator/main.go
  cmd/testmachinery-controller/main.go
  cmd/testrunner/cmd/cmd.go
  cmd/testrunner/cmd/collect/collect.go
  cmd/testrunner/cmd/docs/docs.go
  cmd/testrunner/cmd/rungardenertemplate/run_template.go
  cmd/testrunner/cmd/runtemplate/run_template.go
  cmd/testrunner/cmd/runtestrun/run_testrun.go
  cmd/testrunner/cmd/version/version.go
  pkg/controller/logger/types.go
  pkg/hostscheduler/gardenerscheduler/registration.go
  pkg/hostscheduler/gkescheduler/registration.go
  pkg/logger/config.go
  pkg/logger/logger.go
Labels: needs/ok-to-test, test/integration

#141 Update to go version 1.13.0
  .test-defs/cleanGardener.yaml
  .test-defs/logGardener.yaml
  .test-defs/scheduler-lock-gardener.yaml
  .test-defs/scheduler-lock.yaml
  .test-defs/scheduler-release-gardener.yaml
  .test-defs/scheduler-release.yaml
  Dockerfile
  hack/images/base/Dockerfile
  hack/images/golang/Dockerfile
Labels: needs/ok-to-test

#143 Pin kubetest to specific version
  integration-tests/e2e/config/config.go
  integration-tests/e2e/kubetest/setup/setup.go
Labels: needs/ok-to-test

#145 Add support telemetry controller
  cmd/shoot-telemetry/.gitignore
  cmd/shoot-telemetry/Makefile
  cmd/shoot-telemetry/README.md
  cmd/shoot-telemetry/example/measurements.csv
  cmd/shoot-telemetry/main.go
  go.mod
  pkg/logger/helper.go
  pkg/shoot-telemetry/analyse/analyse.go
  pkg/shoot-telemetry/analyse/figures.go
  pkg/shoot-telemetry/analyse/listTypes.go
  pkg/shoot-telemetry/analyse/report.go
  pkg/shoot-telemetry/cmd/analyse.go
  pkg/shoot-telemetry/cmd/root.go
  pkg/shoot-telemetry/common/definitions.go
  pkg/shoot-telemetry/common/helper.go
  pkg/shoot-telemetry/config/config.go
  pkg/shoot-telemetry/controller/controller.go
  pkg/shoot-telemetry/controller/misc.go
  pkg/shoot-telemetry/controller/output.go
  pkg/shoot-telemetry/controller/target.go
  pkg/shoot-telemetry/sample/sample.go
  vendor/github.com/gardener/gardener/pkg/client/garden/informers/externalversions/factory.go
  vendor/github.com/gardener/gardener/pkg/client/garden/informers/externalversions/garden/interface.go
  vendor/github.com/gardener/gardener/pkg/client/garden/informers/externalversions/generic.go
  vendor/modules.txt
Labels: area/monitoring, needs/ok-to-test, reviewed/do-not-merge

#146 Fix insecure flag in controller deployment.
  charts/testmachinery/templates/deployment-tm-controller.yaml
Labels: needs/ok-to-test

#149 Update es index for default exports and fix image urls
  .ci/pipeline_definitions
  README.md
  docs/testmachinery/README.md
  pkg/testrunner/elasticsearch/elasticsearchbulk.go
  pkg/testrunner/elasticsearch/testdata/bulk_no_meta_output
  pkg/testrunner/elasticsearch/testdata/json_output
  test/testrunner/output/testrunner_output_execution_test.go
Labels: needs/ok-to-test, test/integration

#150 Refactor gardener test rendering
  .gitignore
  README.md
  cmd/testrunner/cmd/cmd.go
  cmd/testrunner/cmd/rungardener/run.go
  cmd/testrunner/cmd/rungardenertemplate/run_template.go
  cmd/testrunner/cmd/runtemplate/run_template.go
  cmd/testrunner/cmd/runtestrun/run_testrun.go
  docs/tests/README.md
  docs/tests/gardener-default.md
  pkg/hostscheduler/cmd.go
  pkg/hostscheduler/gardenerscheduler/registration.go
  pkg/hostscheduler/gkescheduler/registration.go
  pkg/hostscheduler/types.go
  pkg/testmachinery/labels.go
  pkg/testrunner/renderer/default/default.go
  pkg/testrunner/renderer/default/testrun.go
  pkg/testrunner/renderer/renderer.go
  pkg/testrunner/renderer/templates/configs.go
  pkg/testrunner/renderer/templates/gardensetup.go
  pkg/testrunner/renderer/templates/shoots.go
  pkg/testrunner/renderer/templates/steps.go
  pkg/testrunner/renderer/templates/templates.go
  pkg/testrunner/renderer/templates/tests.go
  pkg/testrunner/renderer/tests.go
  pkg/testrunner/renderer/types.go
  pkg/testrunner/run.go
  pkg/testrunner/template/gardener.go
  pkg/testrunner/template/helper.go
  pkg/testrunner/template/shoot.go
  pkg/testrunner/testrunner.go
  pkg/testrunner/types.go
  pkg/util/cmdvalues/cloudprovider.go
  pkg/util/cmdvalues/cloudproviderarray.go
  pkg/util/cmdvalues/duration.go
  pkg/util/cmdvalues/hostprovider.go
  test/testrunner/run/testrunner_run_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test

#151 Add initial github app
  README.md
  cmd/tm-bot/README.md
  cmd/tm-bot/main.go
  go.mod
  go.sum
  pkg/tm-bot/github/github.go
  pkg/tm-bot/github/request.go
  pkg/tm-bot/github/types.go
  pkg/tm-bot/healthz.go
  pkg/tm-bot/hook/handler.go
  pkg/tm-bot/plugins/echo/echo.go
  pkg/tm-bot/plugins/errors/errors.go
  pkg/tm-bot/plugins/plugins.go
  pkg/tm-bot/plugins/plugins_suite_test.go
  pkg/tm-bot/plugins/plugins_test.go
  pkg/tm-bot/plugins/respond.go
  pkg/tm-bot/plugins/xkcd/xkcd.go
  pkg/tm-bot/server.go
  vendor/github.com/bradleyfalzon/ghinstallation/LICENSE
  vendor/github.com/bradleyfalzon/ghinstallation/README.md
  vendor/github.com/bradleyfalzon/ghinstallation/appsTransport.go
  vendor/github.com/bradleyfalzon/ghinstallation/transport.go
  vendor/github.com/dgrijalva/jwt-go/.gitignore
  vendor/github.com/dgrijalva/jwt-go/.travis.yml
  vendor/github.com/dgrijalva/jwt-go/LICENSE
  vendor/github.com/dgrijalva/jwt-go/MIGRATION_GUIDE.md
  vendor/github.com/dgrijalva/jwt-go/README.md
  vendor/github.com/dgrijalva/jwt-go/VERSION_HISTORY.md
  vendor/github.com/dgrijalva/jwt-go/claims.go
  vendor/github.com/dgrijalva/jwt-go/doc.go
  vendor/github.com/dgrijalva/jwt-go/ecdsa.go
  vendor/github.com/dgrijalva/jwt-go/ecdsa_utils.go
  vendor/github.com/dgrijalva/jwt-go/errors.go
  vendor/github.com/dgrijalva/jwt-go/hmac.go
  vendor/github.com/dgrijalva/jwt-go/map_claims.go
  vendor/github.com/dgrijalva/jwt-go/none.go
  vendor/github.com/dgrijalva/jwt-go/parser.go
  vendor/github.com/dgrijalva/jwt-go/rsa.go
  vendor/github.com/dgrijalva/jwt-go/rsa_pss.go
  vendor/github.com/dgrijalva/jwt-go/rsa_utils.go
  vendor/github.com/dgrijalva/jwt-go/signing_method.go
  vendor/github.com/dgrijalva/jwt-go/token.go
  vendor/github.com/gorilla/context/.travis.yml
  vendor/github.com/gorilla/context/LICENSE
  vendor/github.com/gorilla/context/README.md
  vendor/github.com/gorilla/context/context.go
  vendor/github.com/gorilla/context/doc.go
  vendor/github.com/gorilla/mux/.travis.yml
  vendor/github.com/gorilla/mux/ISSUE_TEMPLATE.md
  vendor/github.com/gorilla/mux/LICENSE
  vendor/github.com/gorilla/mux/README.md
  vendor/github.com/gorilla/mux/context_gorilla.go
  vendor/github.com/gorilla/mux/context_native.go
  vendor/github.com/gorilla/mux/doc.go
  vendor/github.com/gorilla/mux/middleware.go
  vendor/github.com/gorilla/mux/mux.go
  vendor/github.com/gorilla/mux/regexp.go
  vendor/github.com/gorilla/mux/route.go
  vendor/github.com/gorilla/mux/test_helpers.go
  vendor/modules.txt
Labels: needs/ok-to-test

#152 Gh bot tests
  .ci/integration-bot
  .ci/pipeline_definitions
  Dockerfile
  charts/tm-bot/.helmignore
  charts/tm-bot/Chart.yaml
  charts/tm-bot/templates/deployment.yaml
  charts/tm-bot/templates/gh-secret.yaml
  charts/tm-bot/templates/ingress.yaml
  charts/tm-bot/templates/rbac.yaml
  charts/tm-bot/templates/secret.yaml
  charts/tm-bot/templates/service.yaml
  charts/tm-bot/templates/serviceaccount.yaml
  charts/tm-bot/values.yaml
  cmd/tm-bot/README.md
  go.mod
  pkg/testmachinery/config.go
  pkg/testmachinery/testdefinition/testdefinition.go
  pkg/testmachinery/testflow/node/nodelist.go
  pkg/testrunner/renderer/default/default.go
  pkg/testrunner/renderer/default/testrun.go
  pkg/testrunner/renderer/templates/templates.go
  pkg/testrunner/result/collect.go
  pkg/testrunner/types.go
  pkg/tm-bot/github/client.go
  pkg/tm-bot/github/ghval/ghval.go
  pkg/tm-bot/github/github.go
  pkg/tm-bot/github/manager.go
  pkg/tm-bot/github/types.go
  pkg/tm-bot/hook/handler.go
  pkg/tm-bot/plugins/echo/echo.go
  pkg/tm-bot/plugins/errors/errors.go
  pkg/tm-bot/plugins/persistance.go
  pkg/tm-bot/plugins/plugins.go
  pkg/tm-bot/plugins/plugins_suite_test.go
  pkg/tm-bot/plugins/plugins_test.go
  pkg/tm-bot/plugins/request.go
  pkg/tm-bot/plugins/respond.go
  pkg/tm-bot/plugins/tests/flags.go
  pkg/tm-bot/plugins/tests/run.go
  pkg/tm-bot/plugins/tests/status.go
  pkg/tm-bot/plugins/tests/test.go
  pkg/tm-bot/plugins/tests/testrunner.go
  pkg/tm-bot/plugins/tests/types.go
  pkg/tm-bot/plugins/xkcd/xkcd.go
  pkg/tm-bot/server.go
  pkg/util/cmdvalues/cloudproviderarray.go
  pkg/util/table.go
Labels: needs/ok-to-test

#155 Fix kubernetes version in metadata
  pkg/testrunner/template/shoot.go
Labels: needs/ok-to-test
