Repository gardener/test-infra, pull requests merged in 2019-11, with the labels that each got.

#179 Refactor e2e testdesc generation
  integration-tests/e2e/config/config.go
  integration-tests/e2e/kubetest/desc_generator.go
  integration-tests/e2e/kubetest/description/1.10/working.json
  integration-tests/e2e/kubetest/description/1.11/working.json
  integration-tests/e2e/kubetest/description/1.12/working.json
  integration-tests/e2e/kubetest/description/1.13/working.json
  integration-tests/e2e/kubetest/description/1.14/working.json
  integration-tests/e2e/kubetest/description/1.15/working.json
  integration-tests/e2e/kubetest/description/1.16/working.json
  integration-tests/e2e/util/sets/string.go
Labels: needs/ok-to-test

#164 Add v1alpha1 gardener test
  pkg/testrunner/renderer/default/testrun.go
  pkg/testrunner/renderer/templates/shoots.go
  pkg/testrunner/renderer/templates/shoots_v1alpha1.go
  pkg/testrunner/renderer/templates/shoots_v1beta1.go
Labels: needs/ok-to-test

#181 Add recreate command and use v1alpha1 shoots
  pkg/hostscheduler/cmd.go
  pkg/hostscheduler/gardenerscheduler/cleanup.go
  pkg/hostscheduler/gardenerscheduler/helper.go
  pkg/hostscheduler/gardenerscheduler/list.go
  pkg/hostscheduler/gardenerscheduler/lock.go
  pkg/hostscheduler/gardenerscheduler/recreate.go
  pkg/hostscheduler/gardenerscheduler/release.go
  pkg/hostscheduler/gardenerscheduler/types.go
  pkg/hostscheduler/gkescheduler/recreate.go
  pkg/hostscheduler/types.go
Labels: needs/ok-to-test

#180 add cncf-conformance-pr-creator
  cmd/cncf-conformance-pr-creator/README.md
  cmd/cncf-conformance-pr-creator/create_pr_k8s_conformance.py
  cmd/cncf-conformance-pr-creator/gardener_readme.txt
Labels: needs/ok-to-test

#182 Add basic ui for tm bot
  Dockerfile
  cmd/testrunner/cmd/run_gardener/run.go
  pkg/hostscheduler/gardenerscheduler/registration.go
  pkg/hostscheduler/gardenerscheduler/types.go
  pkg/hostscheduler/types.go
  pkg/testrun_renderer/default/default.go
  pkg/testrun_renderer/templates/gardensetup.go
  pkg/testrun_renderer/templates/steps.go
  pkg/tm-bot/plugins/echo/echo.go
  pkg/tm-bot/plugins/plugins.go
  pkg/tm-bot/plugins/tests/flags.go
  pkg/tm-bot/plugins/tests/types.go
  pkg/tm-bot/router.go
  pkg/tm-bot/server.go
  pkg/tm-bot/tests/tests.go
  pkg/tm-bot/ui/pages/CommandHelp.go
  pkg/tm-bot/ui/pages/Home.go
  pkg/tm-bot/ui/pages/Status.go
  pkg/tm-bot/ui/pages/types.go
  pkg/tm-bot/ui/static/gardener-test-machinery.svg
  pkg/tm-bot/ui/static/style.css
  pkg/tm-bot/ui/templates/404.html
  pkg/tm-bot/ui/templates/base.html
  pkg/tm-bot/ui/templates/command-help-detailed.html
  pkg/tm-bot/ui/templates/command-help.html
  pkg/tm-bot/ui/templates/index.html
  pkg/tm-bot/ui/templates/pr-status-detailed.html
  pkg/tm-bot/ui/templates/pr-status.html
  pkg/tm-bot/ui/ui.go
  pkg/util/cmdvalues/cloudprovider.go
  pkg/util/cmdvalues/hostprovider.go
  pkg/util/testrun.go
Labels: needs/ok-to-test

#184 Add support for filter of patch versions per flavor
  docs/testrunner/README.md
  pkg/common/types_shootflavor.go
  pkg/util/kubernetes_version.go
  pkg/util/kubernetes_version_test.go
Labels: needs/ok-to-test

#185 refactor status-uploader
  pkg/testrunner/result/collect.go
  pkg/testrunner/result/status-uploader.go
  pkg/util/util.go
Labels: needs/ok-to-test

#186 Add support for dev images
  pkg/testrun_renderer/templates/shoots_v1alpha1.go
  pkg/testrun_renderer/templates/tests.go
  pkg/tm-bot/plugins/tests/flags.go
  pkg/util/docker_image.go
  pkg/util/util.go
Labels: needs/ok-to-test

#189 add support for version constraints in gardener extensions
  pkg/testrun_renderer/templates/tests.go
  pkg/tm-bot/github/client.go
  pkg/tm-bot/github/fakeclient.go
  pkg/tm-bot/github/mocks/client.go
  pkg/tm-bot/github/types.go
  pkg/tm-bot/plugins/tests/flags.go
  pkg/util/gardensetup/gs_extensions.go
  pkg/util/util.go
  pkg/util/util_test.go
  pkg/util/versions.go
  pkg/util/versions_test.go
Labels: needs/ok-to-test

#190 Refactor status asset upload
  pkg/testrunner/result/status-uploader.go
Labels: reviewed/ok-to-test

#193 add rate limit logger
  pkg/testmachinery/ghcache/ghcache.go
  pkg/testmachinery/ghcache/ratelimitlogger.go
  pkg/testmachinery/locations/location/gitlocation.go
  pkg/tm-bot/github/manager.go
Labels: needs/ok-to-test

#194 Add more authentication with better error message for the tm bot
  pkg/tm-bot/github/client.go
  pkg/tm-bot/github/types.go
  pkg/tm-bot/plugins/echo/echo.go
  pkg/tm-bot/plugins/request.go
  pkg/tm-bot/plugins/respond.go
  pkg/tm-bot/plugins/resume/resume.go
  pkg/tm-bot/plugins/skip/skip.go
  pkg/tm-bot/plugins/tests/test.go
  pkg/tm-bot/plugins/xkcd/xkcd.go
  pkg/tm-bot/ui/pages/CommandHelp.go
Labels: needs/ok-to-test

#196 Add a few pre computed fields to teststeps (for better grafana int)
  docs/testrunner/README.md
  pkg/testrunner/result/output.go
  pkg/testrunner/result/output_test.go
  pkg/testrunner/run.go
  pkg/testrunner/types.go
Labels: needs/ok-to-test

#195 Introduce flake attempts for TM testruns
  cmd/testrunner/cmd/run_template/run_template.go
  cmd/testrunner/cmd/run_testrun/run_testrun.go
  pkg/apis/testmachinery/v1beta1/types.go
  pkg/testrunner/result/output.go
  pkg/testrunner/testrunner.go
  pkg/testrunner/types.go
Labels: needs/ok-to-test

#197 Refactor testrun retry
  cmd/testrunner/cmd/run_template/run_template.go
  cmd/testrunner/cmd/run_testrun/run_testrun.go
  pkg/testrunner/testrunner.go
  pkg/testrunner/types.go
Labels: needs/ok-to-test

#199 Minor improv
  go.mod
  go.sum
  pkg/common/common.go
  pkg/shootflavors/extendedflavors.go
  pkg/shootflavors/extendedflavors_test.go
  pkg/shootflavors/types.go
  pkg/testmachinery/ghcache/cache.go
  pkg/testmachinery/ghcache/ghcache.go
  pkg/testmachinery/locations/location/gitlocation.go
  pkg/testrunner/list.go
  pkg/testrunner/metadata.go
  pkg/testrunner/result/collect.go
  pkg/testrunner/run.go
  pkg/testrunner/template/renderer.go
  pkg/testrunner/template/shoot_template_test.go
  pkg/testrunner/template/template.go
  pkg/testrunner/template/types.go
  pkg/testrunner/template/values.go
  pkg/testrunner/testrunner.go
  pkg/testrunner/types.go
  pkg/testrunner/util.go
  pkg/tm-bot/github/manager.go
  pkg/util/output/table.go
  vendor/github.com/gomodule/redigo/LICENSE
  vendor/github.com/gomodule/redigo/redis/commandinfo.go
  vendor/github.com/gomodule/redigo/redis/conn.go
  vendor/github.com/gomodule/redigo/redis/doc.go
  vendor/github.com/gomodule/redigo/redis/go16.go
  vendor/github.com/gomodule/redigo/redis/go17.go
  vendor/github.com/gomodule/redigo/redis/go18.go
  vendor/github.com/gomodule/redigo/redis/log.go
  vendor/github.com/gomodule/redigo/redis/pool.go
  vendor/github.com/gomodule/redigo/redis/pool17.go
  vendor/github.com/gomodule/redigo/redis/pubsub.go
  vendor/github.com/gomodule/redigo/redis/redis.go
  vendor/github.com/gomodule/redigo/redis/reply.go
  vendor/github.com/gomodule/redigo/redis/scan.go
  vendor/github.com/gomodule/redigo/redis/script.go
  vendor/github.com/gregjones/httpcache/redis/redis.go
  vendor/golang.org/x/sync/AUTHORS
  vendor/golang.org/x/sync/CONTRIBUTORS
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/semaphore/semaphore.go
  vendor/k8s.io/test-infra/LICENSE
  vendor/k8s.io/test-infra/ghproxy/ghcache/BUILD.bazel
  vendor/k8s.io/test-infra/ghproxy/ghcache/README.md
  vendor/k8s.io/test-infra/ghproxy/ghcache/coalesce.go
  vendor/k8s.io/test-infra/ghproxy/ghcache/ghcache.go
  vendor/k8s.io/test-infra/ghproxy/ghmetrics/BUILD.bazel
  vendor/k8s.io/test-infra/ghproxy/ghmetrics/ghmetrics.go
  vendor/k8s.io/test-infra/ghproxy/ghmetrics/ghpath.go
  vendor/k8s.io/test-infra/prow/simplifypath/BUILD.bazel
  vendor/k8s.io/test-infra/prow/simplifypath/simplify.go
  vendor/modules.txt
Labels: needs/ok-to-test, test/integration

#200 Testrun overview
  charts/tm-bot/templates/deployment.yaml
  charts/tm-bot/values.yaml
  pkg/testrunner/util.go
  pkg/tm-bot/hook/handler.go
  pkg/tm-bot/plugins/persistance.go
  pkg/tm-bot/plugins/resume/resume.go
  pkg/tm-bot/plugins/tests/run.go
  pkg/tm-bot/plugins/tests/test.go
  pkg/tm-bot/router.go
  pkg/tm-bot/server.go
  pkg/tm-bot/tests/testrunner.go
  pkg/tm-bot/tests/tests.go
  pkg/tm-bot/tests/tests_test.go
  pkg/tm-bot/ui/auth/auth.go
  pkg/tm-bot/ui/pages/Runs.go
  pkg/tm-bot/ui/pages/Status.go
  pkg/tm-bot/ui/pages/types.go
  pkg/tm-bot/ui/static/img/argo.svg
  pkg/tm-bot/ui/static/img/gardener-test-machinery.svg
  pkg/tm-bot/ui/static/style.css
  pkg/tm-bot/ui/templates/base.html
  pkg/tm-bot/ui/templates/index.html
  pkg/tm-bot/ui/templates/pr-status-detailed.html
  pkg/tm-bot/ui/templates/testrun.html
  pkg/tm-bot/ui/templates/testruns.html
  pkg/tm-bot/ui/ui.go
  pkg/util/testrun.go
  test/controller/testflow/testflow_test.go
Labels: needs/ok-to-test
