Repository gardener/test-infra, pull requests merged in 2019-08, with the labels that each got.

#124 install gardener-cicd-utils from pypi
  hack/images/base/Dockerfile
Labels: needs/ok-to-test, reviewed/ok-to-test

#125 Use kubetest
  integration-tests/e2e/kubetest/kubetest_runner.go
  integration-tests/e2e/kubetest/setup/setup.go
  integration-tests/e2e/util/util.go
Labels: needs/ok-to-test

#123 Better error reporting and output
  .test-defs/scheduler-lock-gardener.yaml
  .test-defs/scheduler-lock.yaml
  pkg/hostscheduler/gardenerscheduler/helper.go
  pkg/hostscheduler/gardenerscheduler/lock.go
  pkg/hostscheduler/gardenerscheduler/release.go
  pkg/hostscheduler/gardenerscheduler/scheduler.go
  pkg/hostscheduler/gardenerscheduler/types.go
  pkg/hostscheduler/gkescheduler/cleanup.go
  pkg/hostscheduler/gkescheduler/helper.go
  pkg/hostscheduler/gkescheduler/lock.go
  pkg/hostscheduler/gkescheduler/release.go
  pkg/hostscheduler/gkescheduler/scheduler.go
  pkg/hostscheduler/gkescheduler/types.go
Labels: needs/ok-to-test

#126 Add support for multiple cloudprovider shoots in gardener scheduler
  .test-defs/scheduler-lock-gardener.yaml
  pkg/hostscheduler/gardenerscheduler/lock.go
  pkg/hostscheduler/gardenerscheduler/scheduler.go
  pkg/hostscheduler/gardenerscheduler/types.go
Labels: needs/ok-to-test

#127 Add support for value files in the testrunner templates
  cmd/testrunner/cmd/rungardenertemplate/run_template.go
  cmd/testrunner/cmd/runtemplate/run_template.go
  integration-tests/e2e/util/util.go
  pkg/testrunner/template/helper.go
  pkg/testrunner/template/render.go
  pkg/testrunner/template/types.go
Labels: needs/ok-to-test

#130 Flags for machine's image and image version added to run command
  cmd/testrunner/cmd/runtemplate/run_template.go
  docs/Testrunner.md
  docs/testrunner/testrunner_run-template.md
  pkg/testrunner/template/render.go
  pkg/testrunner/template/types.go
Labels: needs/ok-to-test

#129 Improve testrunner error handling
  cmd/testrunner/cmd/rungardenertemplate/run_template.go
  cmd/testrunner/cmd/runtemplate/run_template.go
  cmd/testrunner/cmd/runtestrun/run_testrun.go
  pkg/testrunner/error/error.go
  pkg/testrunner/result/collect.go
  pkg/testrunner/run.go
  pkg/testrunner/testrunner.go
  pkg/testrunner/types.go
  test/testrunner/run/testrunner_run_test.go
Labels: needs/ok-to-test, test/integration

#133 Keep only versions with newest patch version in getK8sVersionsFromCloudprofile
  pkg/testrunner/template/helper.go
  pkg/testrunner/template/helper_test.go
  pkg/testrunner/template/template_suite_test.go
Labels: needs/ok-to-test

#136 Properly propagate Test Machinery phases
  .ci/integration
  pkg/testmachinery/argo/argo.go
  pkg/testmachinery/config.go
  pkg/testmachinery/testdefinition/testdefinition.go
  pkg/testmachinery/testflow/flow.go
  pkg/testmachinery/testflow/node/node.go
  pkg/testmachinery/testflow/testflow.go
  pkg/testmachinery/testrun/testrun.go
  test/.test-defs/ItCheckDynamicEnvVar.yaml
  test/.test-defs/scripts/check-dynamic-env
  test/controller/testflow/testflow_exit_test.go
  test/controller/testflow/testflow_test.go
Labels: needs/ok-to-test, test/integration
