Repository gardener/test-infra, pull requests merged in 2020-01, with the labels that each got.

#215 E2e shoot dump
  .test-defs/allE2eTestgrid.yaml
  .test-defs/conformanceTestgrid.yaml
  .test-defs/conformanceTestgridParallel.yaml
  .test-defs/e2eFast.yaml
  .test-defs/e2eSlow.yaml
  .test-defs/e2eUntracked.yaml
  go.mod
  go.sum
  integration-tests/e2e/config/config.go
  integration-tests/e2e/kubetest/kubetest_runner.go
  integration-tests/e2e/kubetest/results_evaluator.go
  integration-tests/e2e/util/util.go
  pkg/alert/alerttypes.go
  vendor/github.com/gardener/external-dns-management/LICENSE.md
  vendor/github.com/gardener/external-dns-management/pkg/apis/dns/v1alpha1/dnsentry.go
  vendor/github.com/gardener/external-dns-management/pkg/apis/dns/v1alpha1/dnsprovider.go
  vendor/github.com/gardener/external-dns-management/pkg/apis/dns/v1alpha1/doc.go
  vendor/github.com/gardener/external-dns-management/pkg/apis/dns/v1alpha1/state.go
  vendor/github.com/gardener/external-dns-management/pkg/apis/dns/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/clientset/versioned/scheme/doc.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/clientset/versioned/scheme/register.go
  vendor/github.com/googleapis/gnostic/OpenAPIv2/OpenAPIv2.pb.go
  vendor/github.com/googleapis/gnostic/compiler/reader.go
  vendor/github.com/googleapis/gnostic/extensions/COMPILE-EXTENSION.sh
  vendor/github.com/googleapis/gnostic/extensions/extension.pb.go
  vendor/github.com/hashicorp/golang-lru/go.mod
  vendor/github.com/hashicorp/golang-lru/lru.go
  vendor/github.com/hashicorp/golang-lru/simplelru/lru.go
  vendor/github.com/hashicorp/golang-lru/simplelru/lru_interface.go
  vendor/github.com/konsorten/go-windows-terminal-sequences/README.md
  vendor/github.com/konsorten/go-windows-terminal-sequences/sequences_dummy.go
  vendor/github.com/pborman/uuid/.travis.yml
  vendor/github.com/pborman/uuid/README.md
  vendor/github.com/pborman/uuid/doc.go
  vendor/github.com/pborman/uuid/go.mod
  vendor/github.com/pborman/uuid/go.sum
  vendor/github.com/pborman/uuid/marshal.go
  vendor/github.com/pborman/uuid/node.go
  vendor/github.com/pborman/uuid/sql.go
  vendor/github.com/pborman/uuid/time.go
  vendor/github.com/pborman/uuid/util.go
  vendor/github.com/pborman/uuid/uuid.go
  vendor/github.com/pborman/uuid/version1.go
  vendor/github.com/pborman/uuid/version4.go
  vendor/modules.txt
Labels: needs/ok-to-test

#216 add additional fields to tm-alerting elasticsearch index
  pkg/alert/alert.go
  pkg/alert/alerttypes.go
Labels: needs/ok-to-test, reviewed/ok-to-test

#218 Fix input path of untrusted steps
  pkg/testmachinery/testdefinition/types.go
  pkg/testmachinery/testflow/flow_operations_test.go
Labels: needs/ok-to-test

#219 Fix panic with concurrent writes in watch
  pkg/testmachinery/controller/watch/watch.go
Labels: needs/ok-to-test

#220 When git clone fails with DNS issue => retry once
  cmd/prepare/prepare.go
Labels: needs/ok-to-test

#221 Add backoff configuration for testrunner to create testruns
  cmd/testrunner/cmd/run_testrun/run_testrun.go
  pkg/testrunner/list.go
  pkg/testrunner/types.go
Labels: needs/ok-to-test, reviewed/ok-to-test

#222 Add testdefinition labels to step status and es metadata
  cmd/testrunner/cmd/run_gardener/run.go
  pkg/apis/testmachinery/v1beta1/types.go
  pkg/apis/testmachinery/v1beta1/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/testmachinery/testflow/node/node.go
  pkg/testrunner/result/output.go
  pkg/testrunner/types.go
Labels: needs/ok-to-test

#223 Fix panic when no metadata is defined
  cmd/testrunner/cmd/run_gardener/run.go
  pkg/testrunner/list.go
  pkg/testrunner/run.go
Labels: needs/ok-to-test

#224 Fix: use gardener beta in e2e package
  go.mod
  go.sum
  integration-tests/e2e/util/util.go
Labels: needs/ok-to-test

#225 Update to gardener v1beta1 api
  cmd/logging/main.go
  pkg/common/types_shootflavor.go
  pkg/hostscheduler/gardenerscheduler/cleanup.go
  pkg/hostscheduler/gardenerscheduler/helper.go
  pkg/hostscheduler/gardenerscheduler/list.go
  pkg/hostscheduler/gardenerscheduler/lock.go
  pkg/hostscheduler/gardenerscheduler/recreate.go
  pkg/hostscheduler/gardenerscheduler/release.go
  pkg/hostscheduler/gardenerscheduler/types.go
  pkg/shoot-telemetry/controller/controller.go
  pkg/shootflavors/extendedflavors.go
  pkg/shootflavors/extendedflavors_test.go
  pkg/shootflavors/extendedflavors_validation_test.go
  pkg/shootflavors/flavors.go
  pkg/shootflavors/flavors_test.go
  pkg/shootflavors/types.go
  pkg/shootflavors/worker.go
  pkg/testrun_renderer/templates/gardensetup.go
  pkg/testrunner/template/shoot_template_test.go
  pkg/util/gardener.go
  pkg/util/gardener_test.go
  pkg/util/kubernetes_version.go
  pkg/util/kubernetes_version_test.go
  pkg/util/machine_image.go
Labels: needs/ok-to-test, test/integration

#226 Improve tm dashboard
  pkg/common/common.go
  pkg/testrunner/metadata.go
  pkg/tm-bot/ui/static/style.css
  pkg/tm-bot/ui/templates/testrun.html
Labels: needs/ok-to-test

#227 introduce focus argument to alerter
  cmd/testrunner/cmd/alert/alert.go
  pkg/alert/alert.go
Labels: needs/ok-to-test
