Repository gardener/test-infra, pull requests merged in 2020-03, with the labels that each got.

#251 Upgrade argo
  charts/bootstrap_tm_prerequisites/templates/argo-rbac.yaml
  charts/bootstrap_tm_prerequisites/templates/argo.yaml
  charts/bootstrap_tm_prerequisites/templates/crds.yaml
  charts/bootstrap_tm_prerequisites/values.yaml
  go.mod
  go.sum
Labels: needs/ok-to-test, test/integration

#253 Support multiple set values for template rendering
  cmd/testrunner/cmd/run_template/run_template.go
  pkg/testrunner/template/renderer.go
  pkg/testrunner/template/template_test.go
  pkg/testrunner/template/types.go
Labels: needs/ok-to-test

#255 Add bot plugin to run simple testruns
  .test-defs/dummy.yaml
  Makefile
  examples/dummy-testrun.yaml
  hack/generate-mocks
  pkg/common/error/error.go
  pkg/testrunner/error/error.go
  pkg/testrunner/result/collect.go
  pkg/testrunner/run.go
  pkg/testrunner/template/template.go
  pkg/tm-bot/github/authorization.go
  pkg/tm-bot/github/client.go
  pkg/tm-bot/github/manager.go
  pkg/tm-bot/github/mocks/client.go
  pkg/tm-bot/github/request.go
  pkg/tm-bot/github/types.go
  pkg/tm-bot/hook/handler.go
  pkg/tm-bot/plugins/cmdparser.go
  pkg/tm-bot/plugins/echo/echo.go
  pkg/tm-bot/plugins/request.go
  pkg/tm-bot/plugins/resume/resume.go
  pkg/tm-bot/plugins/skip/skip.go
  pkg/tm-bot/plugins/test/gardener/flags.go
  pkg/tm-bot/plugins/test/gardener/run.go
  pkg/tm-bot/plugins/test/gardener/test.go
  pkg/tm-bot/plugins/test/gardener/types.go
  pkg/tm-bot/plugins/test/single/config.go
  pkg/tm-bot/plugins/test/single/run.go
  pkg/tm-bot/plugins/test/single/test.go
  pkg/tm-bot/plugins/test/types.go
  pkg/tm-bot/plugins/test/util.go
  pkg/tm-bot/plugins/xkcd/xkcd.go
  pkg/tm-bot/tests/status.go
  pkg/tm-bot/tests/testrunner.go
Labels: area/tm-bot, needs/ok-to-test

#256 Enh/kubeconfigs
  cmd/prepare/prepare.go
  docs/testmachinery/GetStarted.md
  go.mod
  go.sum
  pkg/apis/testmachinery/v1beta1/constants.go
  pkg/apis/testmachinery/v1beta1/types.go
  pkg/apis/testmachinery/v1beta1/zz_generated.deepcopy.go
  pkg/hostscheduler/constants.go
  pkg/openapi/openapi_generated.go
  pkg/testmachinery/testdefinition/types.go
  pkg/testmachinery/testrun/kubeconfigs.go
  pkg/util/util.go
  test/controller/testflow/testflow_kubeconfig_test.go
Labels: needs/ok-to-test, test/integration

#257 Fix git checkout issue if brnach is also a file
  cmd/prepare/prepare.go
Labels: needs/ok-to-test

#252 move slack testruns summary posting to collect package
  cmd/testrunner/cmd/collect/collect.go
  cmd/testrunner/cmd/notify/notify.go
  pkg/testrunner/result/collect.go
  pkg/testrunner/result/summary-poster.go
  pkg/testrunner/result/types.go
  pkg/util/slack-table-post.go
Labels: needs/ok-to-test

#258 add hard resync timer to reconciliation
  pkg/testmachinery/controller/watch/watch.go
Labels: needs/ok-to-test
