Repository gardener/test-infra, pull requests merged in 2020-02, with the labels that each got.

#228 Add support for serial testrun execution
  cmd/testrunner/cmd/run_gardener/run.go
  cmd/testrunner/cmd/run_template/run_template.go
  cmd/testrunner/cmd/run_testrun/run_testrun.go
  pkg/testrunner/execution.go
  pkg/testrunner/execution_test.go
  pkg/testrunner/list.go
  pkg/testrunner/tesrunner_suite_test.go
  pkg/testrunner/testrunner.go
  pkg/testrunner/types.go
  pkg/util/util.go
  pkg/util/util_test.go
  test/testrunner/run/testrunner_run_test.go
Labels: needs/ok-to-test, test/integration

#229 Fix panic in watch
  pkg/testmachinery/controller/watch/watch.go
Labels: needs/ok-to-test, test/integration

#230 add group purpose and minor dashboard improvements
  pkg/common/common.go
  pkg/tm-bot/ui/pages/Runs.go
  pkg/tm-bot/ui/pages/Status.go
  pkg/tm-bot/ui/templates/testrun.html
  pkg/util/testrun.go
  pkg/util/testrun_test.go
Labels: needs/ok-to-test

#231 Refactor status of ingested and uploaded fields
  pkg/apis/testmachinery/v1beta1/types.go
  pkg/apis/testmachinery/v1beta1/zz_generated.deepcopy.go
  pkg/common/common.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
  pkg/testrunner/elasticsearch/elasticsearchbulk.go
  pkg/testrunner/result/collect.go
  pkg/testrunner/result/ingest.go
  pkg/testrunner/result/status-uploader.go
  pkg/util/util.go
Labels: needs/ok-to-test, reviewed/ok-to-test

#232 Add support for custom resource limits per testdefinition
  pkg/apis/testmachinery/v1beta1/register.go
  pkg/apis/testmachinery/v1beta1/types.go
  pkg/apis/testmachinery/v1beta1/zz_generated.deepcopy.go
  pkg/common/common.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
  pkg/testmachinery/locations/location/gitlocation.go
  pkg/testmachinery/locations/location/locallocation.go
  pkg/testmachinery/prepare/prepare.go
  pkg/testmachinery/testdefinition/testdefinition.go
  pkg/testmachinery/testdefinition/validation.go
  pkg/testmachinery/testdefinition/validation_test.go
  pkg/testmachinery/testflow/node/helper.go
  pkg/testmachinery/testflow/node/node.go
  pkg/testmachinery/testflow/validation_test.go
Labels: needs/ok-to-test, test/integration

#233 add new run to execution queue
  pkg/testrunner/execution_test.go
  pkg/testrunner/list.go
Labels: needs/ok-to-test

#234 Use dimension function for status uploader in order to avoid missing dimensions
  pkg/testrunner/metadata.go
  pkg/testrunner/result/status-uploader.go
  pkg/tm-bot/ui/pages/Runs.go
Labels: needs/ok-to-test

#236 Fix status calculation in tm dashboard
  pkg/testrunner/metadata.go
  pkg/util/testrun.go
  pkg/util/testrun_test.go
Labels: needs/ok-to-test

#235 Refactor elastic search ingestion to be independent of cc-utils
  cmd/testrunner/cmd/alert/alert.go
  cmd/testrunner/cmd/run_template/run_template.go
  pkg/alert/alert.go
  pkg/testrunner/result/collect.go
  pkg/testrunner/result/ingest.go
  pkg/testrunner/result/output.go
  pkg/testrunner/result/types.go
  pkg/util/elasticsearch/bulk/es_bulk_suite_test.go
  pkg/util/elasticsearch/bulk/esbulk.go
  pkg/util/elasticsearch/bulk/testdata/bulk_no_meta
  pkg/util/elasticsearch/bulk/testdata/bulk_no_meta_output
  pkg/util/elasticsearch/bulk/testdata/bulk_with_meta
  pkg/util/elasticsearch/bulk/testdata/bulk_with_meta_output
  pkg/util/elasticsearch/bulk/testdata/json
  pkg/util/elasticsearch/bulk/testdata/json_output
  pkg/util/elasticsearch/bulk/testdata/large_bulk
  pkg/util/elasticsearch/bulk/types.go
  pkg/util/elasticsearch/elasticsearch.go
Labels: needs/ok-to-test

#238 Fix executor
  pkg/testrunner/execution.go
  pkg/testrunner/execution_test.go
  pkg/testrunner/testrunner_suite_test.go
  pkg/util/waitgroup.go
Labels: needs/ok-to-test

#240 increase memory limits for k8s e2e test steps
  .test-defs/allE2eTestgrid.yaml
  .test-defs/conformanceTestgrid.yaml
  .test-defs/conformanceTestgridParallel.yaml
  .test-defs/e2eFast.yaml
  .test-defs/e2eSlow.yaml
  .test-defs/e2eUntracked.yaml
Labels: reviewed/ok-to-test

#239 Add noauth provider for local development
  pkg/tm-bot/router.go
  pkg/tm-bot/server.go
  pkg/tm-bot/ui/auth/auth.go
  pkg/tm-bot/ui/auth/noauth.go
  pkg/tm-bot/ui/pages/CommandHelp.go
  pkg/tm-bot/ui/pages/Home.go
  pkg/tm-bot/ui/pages/Status.go
  pkg/tm-bot/ui/pages/types.go
  pkg/tm-bot/ui/ui.go
Labels: needs/ok-to-test

#237 Remove raw kubeconfig from argo workflow
  Makefile
  charts/bootstrap_tm_prerequisites/templates/crds.yaml
  charts/testmachinery/templates/deployment-tm-controller.yaml
  charts/testmachinery/templates/rbac.yaml
  charts/testmachinery/values.yaml
  cmd/testmachinery-controller/main.go
  go.mod
  pkg/apis/testmachinery/v1beta1/types.go
  pkg/openapi/openapi_generated.go
  pkg/testmachinery/controller/reconciler/testrun_control.go
  pkg/testmachinery/controller/reconciler/testrun_control_update.go
  pkg/testmachinery/controller/testmachinery_controller.go
  pkg/testmachinery/prepare/prepare.go
  pkg/testmachinery/testrun/kubeconfigs.go
  pkg/testmachinery/testrun/testrun.go
  pkg/testmachinery/testrun/types.go
  pkg/testrunner/execution_test.go
  pkg/testrunner/testrunner_suite_test.go
  pkg/util/strconf/strconf.go
  test/utils/utils.go
Labels: needs/ok-to-test, test/integration

#241 Improve channel handling in testrunner
  pkg/testmachinery/controller/watch/watch.go
  pkg/testmachinery/controller/watch/watch_test.go
  pkg/testrunner/list.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/objectutil/filter.go
Labels: needs/ok-to-test

#242 Fix gardener cleanup script
  .test-defs/cleanGardener.yaml
  cmd/cleanup/gardener/main.go
Labels: needs/ok-to-test

#244 Add dashboard URL to testrunner and bot output and reanme runID to execution group
  pkg/common/common.go
  pkg/testrunner/list.go
  pkg/testrunner/metadata.go
  pkg/testrunner/run.go
  pkg/testrunner/types.go
  pkg/testrunner/util.go
  pkg/tm-bot/tests/status.go
  pkg/tm-bot/tests/testrunner.go
  pkg/tm-bot/ui/pages/Runs.go
Labels: needs/ok-to-test

#245 Add es input validation
  pkg/testrunner/execution_test.go
  pkg/testrunner/result/ingest.go
  pkg/util/elasticsearch/elasticsearch.go
Labels: needs/ok-to-test

#246 order steps in testrunner table output
  pkg/testrunner/list.go
  pkg/tm-bot/ui/auth/auth.go
  pkg/tm-bot/ui/auth/noauth.go
  pkg/tm-bot/ui/pages/Runs.go
  pkg/tm-bot/ui/static/style.css
  pkg/tm-bot/ui/templates/base.html
  pkg/tm-bot/ui/ui.go
  pkg/util/testrun.go
Labels: needs/ok-to-test, reviewed/ok-to-test

#243 prevent redundant elasticsearch ingestions
  cmd/testrunner/cmd/collect/collect.go
  cmd/testrunner/cmd/run_template/run_template.go
  pkg/testrunner/result/collect.go
  pkg/util/util.go
Labels: needs/ok-to-test

#247 Add own telemetry controller listening on shoot telemetry resources
  .ci/pipeline_definitions
  Dockerfile
  Makefile
  charts/telemetry/.helmignore
  charts/telemetry/Chart.yaml
  charts/telemetry/ca.cnf
  charts/telemetry/controller.cnf
  charts/telemetry/templates/controller.yaml
  charts/telemetry/templates/crd.yaml
  charts/telemetry/templates/rbac.yaml
  charts/telemetry/templates/secret.yaml
  charts/telemetry/templates/service-tm-controller.yaml
  charts/telemetry/templates/serviceaccount-tm-controller.yaml
  charts/telemetry/templates/validating-webhook.yaml
  charts/telemetry/values.yaml
  cmd/telemetry-controller/README.md
  cmd/telemetry-controller/main.go
  cmd/testrunner/cmd/gardener_telemetry/gardenertelemetry.go
  examples/shootsmeasurement-example.yaml
  hack/generate-code
  pkg/apis/telemetry/group.go
  pkg/apis/telemetry/v1beta1/constants.go
  pkg/apis/telemetry/v1beta1/doc.go
  pkg/apis/telemetry/v1beta1/register.go
  pkg/apis/telemetry/v1beta1/types.go
  pkg/apis/telemetry/v1beta1/zz_generated.conversion.go
  pkg/apis/telemetry/v1beta1/zz_generated.deepcopy.go
  pkg/apis/telemetry/v1beta1/zz_generated.defaults.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
  pkg/shoot-telemetry/analyse/analyse.go
  pkg/shoot-telemetry/analyse/figures.go
  pkg/shoot-telemetry/cmd/analyse.go
  pkg/shoot-telemetry/cmd/root.go
  pkg/shoot-telemetry/common/helper.go
  pkg/shoot-telemetry/config/config.go
  pkg/shoot-telemetry/controller/controller.go
  pkg/shoot-telemetry/controller/output.go
  pkg/telemetry/controller/controller.go
  pkg/telemetry/controller/reconciler.go
  pkg/telemetry/manager/manager.go
  pkg/testrunner/result/collector.go
  pkg/testrunner/telemetry/telemetry.go
Labels: needs/ok-to-test

#248 Add missing testrunner defined metadata to the testrun as annotation
  pkg/common/common.go
  pkg/testrunner/metadata.go
  pkg/testrunner/types.go
Labels: needs/ok-to-test

#249 Fix busyloop blocking goroutine
  .ci/test
  cmd/testrunner/cmd/run_template/run_template.go
  pkg/testmachinery/controller/watch/watch.go
  pkg/testrunner/execution.go
  pkg/testrunner/execution_test.go
  pkg/testrunner/list.go
  pkg/util/waitgroup.go
Labels: needs/ok-to-test
