Repository gardener/test-infra, pull requests merged in 2021-06, with the labels that each got.

#351 validate 1.20 skip line 500-600
  integration-tests/e2e/kubetest/description/1.20/skip.json
  integration-tests/e2e/kubetest/description/1.20/working.json
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#352 remove logging from testmachinery healthcheck
  pkg/testmachinery/controller/dependencies/ensurer.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#353 Update GH PR template
  .github/pull_request_template.md
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#356 update golang base images
  Dockerfile
Labels: area/testing, needs/ok-to-test, needs/review, size/xs

#355 Fix lost image pull secret handling
  charts/internal/argo/values.yaml
  charts/testmachinery/templates/_helper.tpl
  charts/testmachinery/templates/docker-pull-secret.yaml
  charts/testmachinery/values.yaml
  pkg/apis/config/config.go
  pkg/apis/config/v1beta1/config.go
  pkg/apis/config/v1beta1/zz_generated.conversion.go
  pkg/apis/config/v1beta1/zz_generated.deepcopy.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/testmachinery/controller/reconciler/utils.go
  pkg/testmachinery/imagevector/packrd/packed-packr.go
  pkg/tm-bot/github/mocks/client.go
  pkg/util/elasticsearch/mocks/client.go
  pkg/util/s3/mocks/client.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xl, test/integration
