Repository gardener/test-infra, pull requests merged in 2021-08, with the labels that each got.

#361 Ignore NodeFeature:RuntimeHandler tests
  integration-tests/e2e/kubetest/description/1.15/skip.json
  integration-tests/e2e/kubetest/description/1.15/working.json
  integration-tests/e2e/kubetest/description/1.16/skip.json
  integration-tests/e2e/kubetest/description/1.16/working.json
  integration-tests/e2e/kubetest/description/1.17/skip.json
  integration-tests/e2e/kubetest/description/1.17/working.json
  integration-tests/e2e/kubetest/description/1.18/skip.json
  integration-tests/e2e/kubetest/description/1.18/working.json
  integration-tests/e2e/kubetest/description/1.19/skip.json
  integration-tests/e2e/kubetest/description/1.19/working.json
  integration-tests/e2e/kubetest/description/1.20/skip.json
  integration-tests/e2e/kubetest/description/1.20/working.json
  integration-tests/e2e/kubetest/description/1.21/skip.json
  integration-tests/e2e/kubetest/description/1.21/working.json
  integration-tests/e2e/kubetest/description/1.22/skip.json
  integration-tests/e2e/kubetest/description/1.22/working.json
Labels: area/testing, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#366 Improve ns handling and inc test timeout tolerance
  pkg/testmachinery/controller/ttl/controller_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing

#363 Update alpine 3.13 to 3.14
  Dockerfile
Labels: area/open-source, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs
