Repository gardener/test-infra, pull requests merged in 2021-01, with the labels that each got.

#323 Update loki and promtail v1.3.0 -> 2.0.0
  charts/internal/logging/charts/promtail/values.yaml
  charts/internal/logging/values.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#324 add disruptive behavior
  docs/testmachinery/GetStarted.md
  go.mod
  pkg/apis/testmachinery/v1beta1/types.go
  pkg/testmachinery/testflow/flow_operations.go
  pkg/testmachinery/testflow/node/node.go
  pkg/testmachinery/testflow/node/node_suite_test.go
  pkg/testmachinery/testflow/validation_test.go
  test/utils/mocks.go
  vendor/k8s.io/code-generator/generate-internal-groups.sh
  vendor/modules.txt
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/m

#326 fix broken domain parsing regex
  pkg/util/util.go
  pkg/util/util_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#327 Fix reorder of nodes with multiple dependsOn nodes
  Makefile
  pkg/testmachinery/testdefinition/types.go
  pkg/testmachinery/testflow/flow_operations.go
  pkg/testmachinery/testflow/flow_operations_test.go
  pkg/testmachinery/testflow/flow_test.go
  pkg/testmachinery/testflow/node/node.go
  pkg/testmachinery/testflow/node/node_suite_test.go
  pkg/testmachinery/testflow/node/nodelist.go
  pkg/testmachinery/testflow/node/types.go
  pkg/testmachinery/testflow/testdata/testflow-00.yaml
  test/utils/mocks.go
  test/utils/utils.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, reviewed/do-not-merge, size/l

#329 Skip MetricsGrabber tests with >=1.20 (can't work)
  integration-tests/e2e/kubetest/description/1.20/skip.json
Labels: needs/ok-to-test, reviewed/lgtm, size/xs
