Repository gardener/test-infra, pull requests merged in 2021-04, with the labels that each got.

#333 improve testmachinery validation
  pkg/apis/testmachinery/v1beta1/validation/validation.go
  pkg/apis/testmachinery/v1beta1/validation/validation_config.go
  pkg/apis/testmachinery/v1beta1/validation/validation_config_test.go
  pkg/apis/testmachinery/v1beta1/validation/validation_location.go
  pkg/apis/testmachinery/v1beta1/validation/validation_location_test.go
  pkg/apis/testmachinery/v1beta1/validation/validation_suite_test.go
  pkg/apis/testmachinery/v1beta1/validation/validation_testdefinition.go
  pkg/apis/testmachinery/v1beta1/validation/validation_testdefinition_test.go
  pkg/apis/testmachinery/v1beta1/validation/validation_testflow.go
  pkg/apis/testmachinery/v1beta1/validation/validation_testflow_test.go
  pkg/shoot-telemetry/cmd/root.go
  pkg/testmachinery/config/config_suite_test.go
  pkg/testmachinery/config/validation.go
  pkg/testmachinery/controller/admission/webhooks/validator.go
  pkg/testmachinery/controller/reconciler/testrun_control.go
  pkg/testmachinery/locations/testlocations.go
  pkg/testmachinery/locations/validation.go
  pkg/testmachinery/testdefinition/testdefinition.go
  pkg/testmachinery/testflow/validation.go
  pkg/testmachinery/testflow/validation_test.go
  pkg/testmachinery/testrun/validation.go
  pkg/util/strconf/validation.go
  vendor/github.com/onsi/gomega/gstruct/elements.go
  vendor/github.com/onsi/gomega/gstruct/errors/nested_types.go
  vendor/github.com/onsi/gomega/gstruct/fields.go
  vendor/github.com/onsi/gomega/gstruct/ignore.go
  vendor/github.com/onsi/gomega/gstruct/keys.go
  vendor/github.com/onsi/gomega/gstruct/pointer.go
  vendor/github.com/onsi/gomega/gstruct/types.go
  vendor/modules.txt
Labels: needs/changes, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#334 use new ttl strategy instead of outdated TTLSecondsAfterFinished for argo workflows
  pkg/testmachinery/argo/argo.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#335 update certificate generation to use san in addition to the cn
  Makefile
  charts/testmachinery/controller.cnf
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#336 add own ttl controller that deletes testruns after the ttl exceeds
  pkg/apis/config/config.go
  pkg/testmachinery/controller/testmachinery_controller.go
  pkg/testmachinery/controller/ttl/add.go
  pkg/testmachinery/controller/ttl/controller.go
  pkg/testmachinery/controller/ttl/controller_suite_test.go
  pkg/testmachinery/controller/ttl/controller_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/l

#337 add a dryRun flag to display all test cases
  integration-tests/e2e/README.md
  integration-tests/e2e/config/config.go
  integration-tests/e2e/kubetest/desc_generator.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs
