Repository gardener/test-infra, pull requests merged in 2022-12, with the labels that each got.

#429 fix ioutil deprecation, make oauth github host configurable
  cmd/elasticsearch/cmd/precompute/precompute.go
  cmd/local-validator/main.go
  cmd/logging/main.go
  cmd/prepare/prepare.go
  cmd/testrunner/cmd/run_template/options.go
  cmd/tm-bot/app/options.go
  integration-tests/e2e/kubetest/desc_generator.go
  integration-tests/e2e/kubetest/kubetest_runner.go
  integration-tests/e2e/kubetest/publisher.go
  integration-tests/e2e/kubetest/results_evaluator.go
  integration-tests/e2e/kubetest/setup/setup.go
  integration-tests/e2e/util/dump/dump.go
  integration-tests/e2e/util/util.go
  pkg/alert/alert.go
  pkg/alert/alerttypes.go
  pkg/apis/config/bot.go
  pkg/apis/config/config_testmachinery.go
  pkg/apis/config/v1beta1/bot.go
  pkg/apis/config/v1beta1/config_testmachinery.go
  pkg/apis/config/v1beta1/defaults.go
  pkg/apis/config/v1beta1/zz_generated.conversion.go
  pkg/hostscheduler/gardenerscheduler/helper.go
  pkg/hostscheduler/gardenerscheduler/lock.go
  pkg/hostscheduler/gkescheduler/helper.go
  pkg/hostscheduler/helper.go
  pkg/openapi/openapi_generated.go
  pkg/shoot-telemetry/controller/controller.go
  pkg/testmachinery/collector/collector.go
  pkg/testmachinery/collector/collector_test.go
  pkg/testmachinery/collector/elasticsearch.go
  pkg/testmachinery/collector/exports.go
  pkg/testmachinery/collector/exports_test.go
  pkg/testmachinery/collector/helper.go
  pkg/testmachinery/controller/configwatcher/configwatcher.go
  pkg/testmachinery/locations/location/locallocation.go
  pkg/testmachinery/testmachinery.go
  pkg/testmachinery/util.go
  pkg/testrunner/componentdescriptor/componentdescriptor.go
  pkg/testrunner/componentdescriptor/componentdescriptor_test.go
  pkg/testrunner/componentdescriptor/types.go
  pkg/testrunner/result/notification.go
  pkg/testrunner/result/status-uploader.go
  pkg/testrunner/template/helper.go
  pkg/testrunner/template/template.go
  pkg/tm-bot/options.go
  pkg/tm-bot/ui/auth/auth.go
  pkg/util/elasticsearch/bulk/es_bulk_suite_test.go
  pkg/util/elasticsearch/elasticsearch.go
  pkg/util/kubernetes/kubernetes.go
  pkg/util/slack/slack.go
  pkg/util/util.go
  test/controller/testflow/testflow_kubeconfig_test.go
  test/framework/framework.go
  test/utils/utils.go
Labels: kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/l, area/testing

#430 Conformance: add configurable contact_email_address to product.yaml
  cmd/cncf-conformance-pr-creator/create_pr_k8s_conformance.py
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing

#431 Fix invocation of conformance tests with `GINKGO_PARALLEL=false`
  integration-tests/e2e/kubetest/kubetest_runner.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing

#432 Update conformance documentation to include testing with kind
  integration-tests/e2e/README.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, size/s

#433 Ensure "normal" testgrid jobs have no flakes
  .test-defs/conformanceTestgrid.yaml
  integration-tests/e2e/config/config.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing
