Repository gardener/test-infra, pull requests merged in 2022-08, with the labels that each got.

#415 Filter machine image based on CPU architecture of machines in worker pool.
  docs/testrunner/README.md
  pkg/shootflavors/extendedflavors.go
  pkg/shootflavors/extendedflavors_test.go
  pkg/shootflavors/flavors.go
  pkg/shootflavors/flavors_test.go
  pkg/shootflavors/worker.go
  pkg/util/machine_image.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l, area/testing

#416 Raise default from 50 to 200 elements before pagination starts
  pkg/tm-bot/ui/pages/pagination/pagination.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#417 Update tool versions in base-step image
  Dockerfile
Labels: kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing

#418 Adapt publish-tm-chart to work with helm v3.8 or later
  .ci/publish-helm
  Makefile
  charts/testmachinery/Chart.yaml
Labels: kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing

#420 Support version patterns to go back 1,2,3 or 4 minor versions
  docs/testrunner/README.md
  pkg/common/common.go
  pkg/util/kubernetes_version.go
  pkg/util/kubernetes_version_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, area/testing

#421 fix loss of Status subresource information
  pkg/testmachinery/controller/reconciler/testrun_control.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing

#422 Skip `Kubectl client Simple pod should handle in-cluster config e2e test`
  integration-tests/e2e/kubetest/description/1.21/skip.json
  integration-tests/e2e/kubetest/description/1.21/working.json
  integration-tests/e2e/kubetest/description/1.22/skip.json
  integration-tests/e2e/kubetest/description/1.22/working.json
  integration-tests/e2e/kubetest/description/1.23/skip.json
  integration-tests/e2e/kubetest/description/1.23/working.json
  integration-tests/e2e/kubetest/description/1.24/skip.json
  integration-tests/e2e/kubetest/description/1.24/working.json
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing
