Repository gardener/test-infra, pull requests merged in 2022-11, with the labels that each got.

#426 Add description files for k8s v1.25
  integration-tests/e2e/kubetest/description/1.25/false_positives.json
  integration-tests/e2e/kubetest/description/1.25/skip.json
  integration-tests/e2e/kubetest/description/1.25/test.json
  integration-tests/e2e/kubetest/description/1.25/working.json
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, area/testing

#427 Adapt to kubetests format for K8s 1.25
  integration-tests/e2e/kubetest/desc_generator.go
  integration-tests/e2e/kubetest/kubetest_runner.go
  integration-tests/e2e/kubetest/xml_junit_result.go
Labels: needs/ok-to-test, reviewed/lgtm

#428 Add version pattern unit test
  pkg/util/kubernetes_version_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs, area/testing
