Repository gardener/test-infra, pull requests merged in 2023-04, with the labels that each got.

#424 Cleanup S3 client
  pkg/testmachinery/collector/collector_test.go
  pkg/testmachinery/collector/exports.go
  pkg/testmachinery/collector/exports_test.go
  pkg/util/s3/mocks/client.go
  pkg/util/s3/s3.go
Labels: area/storage, kind/cleanup, reviewed/ok-to-test, reviewed/lgtm, size/xs

#449 Cleanup missed todo's
  charts/testmachinery/charts/argo/templates/rbac.yaml
  hack/build-test-defs.sh
Labels: kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/testing

#452 add k8s v1.27 test description files
  integration-tests/e2e/kubetest/description/1.27/false_positives.json
  integration-tests/e2e/kubetest/description/1.27/skip.json
  integration-tests/e2e/kubetest/description/1.27/test.json
  integration-tests/e2e/kubetest/description/1.27/working.json
Labels: kind/task, needs/ok-to-test, reviewed/lgtm, size/xl, area/testing

#453 Switch PSPs off by default
  charts/testmachinery/charts/logging/charts/loki/values.yaml
  charts/testmachinery/charts/logging/charts/promtail/values.yaml
  charts/testmachinery/charts/logging/values.yaml
  charts/testmachinery/values.yaml
Labels: kind/task, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/testing
