Repository gardener/test-infra, pull requests merged in 2023-12, with the labels that each got.

#479 switch from GCR -> Artifact-Registry
  .ci/pipeline_definitions
  .ci/publish-helm
  Makefile
  NOTICE.md
  charts/testmachinery/values.yaml
  charts/tm-bot/values.yaml
Labels: area/delivery, kind/technical-debt, reviewed/ok-to-test, reviewed/lgtm, size/s

#480 Filter for duplicate locations and take the greatest revision
  Dockerfile
  pkg/testrun_renderer/renderer.go
  pkg/testrun_renderer/renderer_test.go
Labels: kind/task, needs/ok-to-test, reviewed/lgtm, size/m, area/testing

#484 Add K8s v1.29 test description files
  integration-tests/e2e/kubetest/description/1.29/false_positives.json
  integration-tests/e2e/kubetest/description/1.29/skip.json
  integration-tests/e2e/kubetest/description/1.29/test.json
  integration-tests/e2e/kubetest/description/1.29/working.json
Labels: kind/task, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, area/testing

#485 Drop K8s <= v1.23 test description files
  integration-tests/e2e/kubetest/description/1.10/false_positives.json
  integration-tests/e2e/kubetest/description/1.10/skip.json
  integration-tests/e2e/kubetest/description/1.10/working.json
  integration-tests/e2e/kubetest/description/1.11/false_positives.json
  integration-tests/e2e/kubetest/description/1.11/skip.json
  integration-tests/e2e/kubetest/description/1.11/working.json
  integration-tests/e2e/kubetest/description/1.12/false_positives.json
  integration-tests/e2e/kubetest/description/1.12/skip.json
  integration-tests/e2e/kubetest/description/1.12/working.json
  integration-tests/e2e/kubetest/description/1.13/false_positives.json
  integration-tests/e2e/kubetest/description/1.13/skip.json
  integration-tests/e2e/kubetest/description/1.13/working.json
  integration-tests/e2e/kubetest/description/1.14/false_positives.json
  integration-tests/e2e/kubetest/description/1.14/skip.json
  integration-tests/e2e/kubetest/description/1.14/working.json
  integration-tests/e2e/kubetest/description/1.15/false_positives.json
  integration-tests/e2e/kubetest/description/1.15/skip.json
  integration-tests/e2e/kubetest/description/1.15/working.json
  integration-tests/e2e/kubetest/description/1.16/false_positives.json
  integration-tests/e2e/kubetest/description/1.16/skip.json
  integration-tests/e2e/kubetest/description/1.16/working.json
  integration-tests/e2e/kubetest/description/1.17/false_positives.json
  integration-tests/e2e/kubetest/description/1.17/skip.json
  integration-tests/e2e/kubetest/description/1.17/working.json
  integration-tests/e2e/kubetest/description/1.18/false_positives.json
  integration-tests/e2e/kubetest/description/1.18/skip.json
  integration-tests/e2e/kubetest/description/1.18/working.json
  integration-tests/e2e/kubetest/description/1.19/false_positives.json
  integration-tests/e2e/kubetest/description/1.19/skip.json
  integration-tests/e2e/kubetest/description/1.19/working.json
  integration-tests/e2e/kubetest/description/1.20/false_positives.json
  integration-tests/e2e/kubetest/description/1.20/skip.json
  integration-tests/e2e/kubetest/description/1.20/working.json
  integration-tests/e2e/kubetest/description/1.21/false_positives.json
  integration-tests/e2e/kubetest/description/1.21/skip.json
  integration-tests/e2e/kubetest/description/1.21/test.json
  integration-tests/e2e/kubetest/description/1.21/working.json
  integration-tests/e2e/kubetest/description/1.22/false_positives.json
  integration-tests/e2e/kubetest/description/1.22/skip.json
  integration-tests/e2e/kubetest/description/1.22/test.json
  integration-tests/e2e/kubetest/description/1.22/working.json
  integration-tests/e2e/kubetest/description/1.23/false_positives.json
  integration-tests/e2e/kubetest/description/1.23/skip.json
  integration-tests/e2e/kubetest/description/1.23/test.json
  integration-tests/e2e/kubetest/description/1.23/working.json
Labels: kind/cleanup, needs/ok-to-test, needs/second-opinion, size/xl, area/testing

#486 Fix `make generate` in pipeline step `check`
  .ci/check
  pkg/openapi/openapi_generated.go
  vendor/k8s.io/code-generator/generate-groups.sh
Labels: kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l, area/testing
