Repository gardener/test-infra, pull requests merged in 2025-07, with the labels that each got.

#728 Use `repoUrl` from component source, when specified
  pkg/testrun_renderer/renderer.go
  pkg/testrun_renderer/renderer_test.go
  pkg/testrunner/componentdescriptor/componentdescriptor.go
  pkg/testrunner/componentdescriptor/componentdescriptor_test.go
  pkg/testrunner/componentdescriptor/testdata/README.md
  pkg/testrunner/componentdescriptor/testdata/components/component-1-1/component-descriptor.yaml
  pkg/testrunner/componentdescriptor/testdata/repositories/ocm-repo-ctf-partial-1/artifact-index.json
  pkg/testrunner/componentdescriptor/testdata/repositories/ocm-repo-ctf-partial-1/blobs/sha256.563edebaacdcc82829aba37b67d6da596de0eb7c49a7d02eda76d1f8eddaded5
  pkg/testrunner/componentdescriptor/testdata/repositories/ocm-repo-ctf-partial-1/blobs/sha256.5a820d45ca0b32cdb514ecad60d39aa911b65e55b645b5674d2cec197e3d4223
  pkg/testrunner/componentdescriptor/testdata/repositories/ocm-repo-ctf-partial-1/blobs/sha256.603d4be72c2b7d86d3c427c6dfc30420a92e143cc45b5649623ca4cc6478767f
  pkg/testrunner/componentdescriptor/testdata/repositories/ocm-repo-ctf-partial-1/blobs/sha256.8dd630a472543346f2c59337b891895ea92855d021777cd6b9840c08b249b204
  pkg/testrunner/componentdescriptor/testdata/repositories/ocm-repo-ctf-partial-1/blobs/sha256.9d9b6485f71630d36ca7c55223c8dfe6bab320d98dddf11d8e49dc40a051b2c8
  pkg/testrunner/componentdescriptor/testdata/repositories/ocm-repo-ctf-partial-1/blobs/sha256.cbd51db92c913f5164744b8a223b55d0ae2a2159df3018859c0b8b0daf185fce
  pkg/testrunner/componentdescriptor/testdata/repositories/ocm-repo-ctf/artifact-index.json
  pkg/testrunner/componentdescriptor/testdata/repositories/ocm-repo-ctf/blobs/sha256.5a820d45ca0b32cdb514ecad60d39aa911b65e55b645b5674d2cec197e3d4223
  pkg/testrunner/componentdescriptor/testdata/repositories/ocm-repo-ctf/blobs/sha256.603d4be72c2b7d86d3c427c6dfc30420a92e143cc45b5649623ca4cc6478767f
  pkg/testrunner/componentdescriptor/testdata/repositories/ocm-repo-ctf/blobs/sha256.85b9c1024b22618cfaa5cba862b533eb8eabf6db1765068d409dd76cb4412436
  pkg/testrunner/componentdescriptor/testdata/repositories/ocm-repo-ctf/blobs/sha256.94c764c8693725d322d4513ca57cfae01d82559fc9f5663bb668627aad33b7fd
  pkg/testrunner/componentdescriptor/testdata/repositories/ocm-repo-ctf/blobs/sha256.9d9b6485f71630d36ca7c55223c8dfe6bab320d98dddf11d8e49dc40a051b2c8
  pkg/testrunner/componentdescriptor/testdata/repositories/ocm-repo-ctf/blobs/sha256.d4f799eb3226d44cd0ddeba89bc4096d0b13f38d2a7b7e686de9dba1fa93c78f
  pkg/testrunner/componentdescriptor/types.go
Labels: kind/technical-debt, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, area/testing

#735 Add in-place update support for machine image selection
  pkg/shootflavors/worker.go
  pkg/util/machine_image.go
  pkg/util/machine_image_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, area/testing

#736 Add functionality to support machine image update tests
  pkg/shootflavors/extendedflavors.go
  pkg/shootflavors/extendedflavors_test.go
  pkg/testrunner/template/values.go
  pkg/util/machine_image.go
  pkg/util/machine_image_test.go
Labels: kind/enhancement, needs/ok-to-test, needs/second-opinion, reviewed/lgtm, size/l, area/testing
