Repository gardener/test-infra, pull requests merged in 2025-03, with the labels that each got.

#608 Bump golang version in test definitions
  .test-defs/conformanceTestgrid.yaml
  .test-defs/conformanceTestgridParallel.yaml
Labels: kind/task, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/testing

#607 Configure security context and RBAC
  charts/testmachinery/charts/argo/templates/argo.yaml
  charts/testmachinery/charts/argo/templates/config.yaml
  charts/testmachinery/charts/argo/values.yaml
  charts/testmachinery/charts/logging/charts/loki/templates/role.yaml
  charts/testmachinery/charts/logging/charts/loki/templates/rolebinding.yaml
  charts/testmachinery/charts/logging/charts/loki/templates/statefulset.yaml
  charts/testmachinery/charts/logging/charts/promtail/values.yaml
  charts/testmachinery/charts/reserve-excess-capacity/values.yaml
  charts/testmachinery/templates/deployment-tm-controller.yaml
  charts/testmachinery/templates/rbac.yaml
  charts/testmachinery/values.yaml
  charts/tm-bot/templates/deployment.yaml
  charts/tm-bot/templates/rbac.yaml
Labels: kind/task, needs/ok-to-test, reviewed/lgtm, size/m, area/testing

#614 Fix vali config, plutono URLs
  charts/testmachinery/charts/logging/charts/vali/templates/service.yaml
  charts/testmachinery/charts/logging/charts/vali/values.yaml
  charts/testmachinery/charts/logging/charts/valitail/templates/daemonset.yaml
  charts/testmachinery/charts/logging/values.yaml
  pkg/apis/config/constants.go
  pkg/testrunner/util.go
Labels: kind/task, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, area/testing

#616 Configure security context for vali/valitail and reserve-capacity
  charts/testmachinery/charts/logging/charts/vali/templates/statefulset.yaml
  charts/testmachinery/charts/logging/charts/valitail/values.yaml
  charts/testmachinery/charts/reserve-excess-capacity/templates/reserve-excess-capacity.yaml
Labels: kind/task, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/testing

#619 Update ingress name for lookup
  pkg/util/util.go
  pkg/util/util_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/testing

#621 Update argo wf to v3.6.5
  charts/testmachinery/charts/argo/templates/argo.yaml
  charts/testmachinery/charts/argo/templates/crds.yaml
  charts/testmachinery/charts/argo/values.yaml
  charts/testmachinery/values.yaml
  go.mod
  go.sum
Labels: kind/task, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, area/testing

#640 Add simple elasticsearch/opensearch ingest command
  cmd/elasticsearch/cmd/cmd.go
  cmd/elasticsearch/cmd/ingest/ingest.go
  cmd/elasticsearch/testdata/bulkfile-es.ndjson
  cmd/elasticsearch/testdata/bulkfile-os.ndjson
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#641 Remove deprecated `_type` from bulk data
  docs/testmachinery/GetStarted.md
  pkg/testmachinery/collector/summary.go
  pkg/util/elasticsearch/bulk/esbulk.go
  pkg/util/elasticsearch/bulk/testdata/bulk_no_meta_output
  pkg/util/elasticsearch/bulk/testdata/bulk_with_meta
  pkg/util/elasticsearch/bulk/testdata/bulk_with_meta_output
  pkg/util/elasticsearch/bulk/testdata/json_output
  pkg/util/elasticsearch/bulk/testdata/large_bulk
  pkg/util/elasticsearch/bulk/types.go
Labels: area/quality, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#642 Fix argo configmap
  charts/testmachinery/charts/argo/templates/config.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, area/testing
